*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green:#24A35A;
    --light-green:#54f79b;
}
html{
    font-size: 100%;
}
body{
    font-family:  Roboto, sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}

